Card {
  padding:0px;
  height: auto;
  align-items: center;
}

h1 {
  margin: 200px, 200px;
  text-align: center;
}

p1 {
margin: 200px, 200px;
font-weight: bold;
text-align: center;
}

.blackfooter {
  background: black;
  height: 20%;
  display: flex;
  justify-content: bottom;
  z-index: 1;
  opacity: .80;
}

.blackfooter2 {
  background: black;
  height: 40%;
  display: flex;
  justify-content: bottom;
  z-index: 1;
  opacity: .80;
}

.left-h1{
  text-align: left;
  margin: 30px 5px 20px 5px;
}

.left-h2{
  text-align: left;
  margin: 4% 5px 20px 5px;
}

.left {
  text-align: left;
  margin: 5px;
}

.white-space {
  max-width: 80%;
  margin: auto;
}

.navbar-brand {
  font-size: 23px;
  font-weight: 500;
}

.nav-item {
  font-size: 20px;
  font-weight: 400;
}

.dropdown-item {
  font-size: 20px;
  font-weight: 400;
}

.semi-bold-20 {
  font-size: 20px;
  font-weight: 500;
}

.left-div {
  width: 50%;
  float: left;
}

.right-div {
  margin-left: 50%;
}

.left-card {
  width: 40%;
  /* size: 510px; */
  margin: 0% 6% 1% 5%;
  float: left;
}

.left2 {
  text-align: left;
  margin: 3%;
}

.centered-h1 {
  text-align: center;
  margin-bottom: 3%;
}

.label{
  text-align: left;
  margin: 15px 5px 0px 5px;
}

.opacity-95 {
  opacity: 92%;
}

.opacity-100 {
  opacity: 100%;
}

.scrollable {
  margin: 0% 0% 0% .5%;
  width: 99%;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.212);
  background-color: rgba(0, 0, 0, 0.315);
  border-radius: 2px;
}

.cardpool {
  margin: 2% 0%;
  background-color: rgba(0, 0, 0, 0.315);
  border: 2px solid rgb(24, 24, 24);
  border-radius: 10px;
  height: 53vh;
  /* background-image: linear-gradient(to right, rgba(151, 9, 9, 0.6), rgba(255, 255, 255, 0.082)); */
}

.maindeck {
  margin: 2% 0%;
  background-color: rgba(163, 26, 26, 0.315);
  border: 2px solid rgb(173, 41, 41);
  border-radius: 10px;
  /* background-image: linear-gradient(to right, rgba(151, 9, 9, 0.6), rgba(255, 255, 255, 0.082)); */
}

.pluckdeck {
  margin: 2% 0%;
  background-color: rgba(26, 63, 163, 0.315);
  border: 2px solid rgb(41, 50, 173);
  border-radius: 10px;
  /* background-image: linear-gradient(to right, rgba(72, 46, 145, 0.6), rgba(255, 255, 255, 0.082)); */
}

.maindeck2 {
  margin: 2% 0%;
  background-color: rgba(0, 0, 0, 0.315);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  /* background-image: linear-gradient(to right, rgba(151, 9, 9, 0.6), rgba(255, 255, 255, 0.082)); */
}

.pluckdeck2 {
  margin: 2% 0%;
  background-color: rgba(0, 0, 0, 0.315);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  /* background-image: linear-gradient(to right, rgba(72, 46, 145, 0.6), rgba(255, 255, 255, 0.082)); */
}

.selected {
  outline: 7px solid rgb(255, 0, 0);
}

.back-to-top {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
  opacity: 100%;
  transition: opacity 0.5s;
}

.hidden {
  opacity: 0%;
}

.back-to-top:hover {
  opacity: 60%;
}

.no-border {
  border: none;
}

.Staunch {
  color: rgb(255, 255, 255);
  background: url("./placeh2.png"),rgba(0, 158, 92, 0.705);
  background-blend-mode: multiply;
  background-size: 100%;
  border: 7px solid rgb(3, 131, 78);
  border-radius: 7px;
  width: 207px;
}

.bigStaunch {
  color: aliceblue;
  background: url("./placeh3.png"),rgba(0, 158, 92, 0.705);
  background-blend-mode: multiply;
  background-size: 70%;
  border: 7px solid rgb(3, 131, 78);
  border-radius: 7px;
  margin-top: 4%;
  width: 662px;
}

.Power {
  color: aliceblue;
  background: url("./placeh2.png"),rgb(255, 73, 73);
  background-blend-mode: multiply;
  background-size: 100%;
  border: 7px solid rgb(255, 31, 31);
  border-radius: 7px;
  width: 207px;
}

.bigPower {
  color: aliceblue;
  background: url("./placeh3.png"),rgb(255, 73, 73);
  background-blend-mode: multiply;
  background-size: 100%;
  border: 7px solid rgb(255, 31, 31);
  border-radius: 7px;
  margin-top: 4%;
  width: 662px;
}

.Unity {
  color: aliceblue;
  background: url("./placeh2.png"),rgba(50, 132, 255, 0.705);
  background-blend-mode: multiply;
  background-size: 100%;
  border: 7px solid rgb(28, 40, 78);
  border-radius: 7px;
  width: 207px;
}

.bigUnity {
  color: aliceblue;
  background: url("./placeh3.png"),rgba(50, 132, 255, 0.705);
  background-blend-mode: multiply;
  background-size: 100%;
  border: 7px solid rgb(28, 40, 78);
  border-radius: 7px;
  margin-top: 4%;
  width: 662px;
}

.Canny {
  color: aliceblue;
  background: url("./placeh2.png"),rgba(116, 43, 150, 0.705);
  background-blend-mode: multiply;
  background-size: 100%;
  border: 7px solid rgb(68, 28, 78);
  border-radius: 7px;
  width: 207px;
}

.bigCanny {
  color: aliceblue;
  background: url("./placeh3.png"),rgba(116, 43, 150, 0.705);
  background-blend-mode: multiply;
  background-size: 70%;
  border: 7px solid rgb(68, 28, 78);
  border-radius: 7px;
  margin-top: 4%;
  width: 662px;
}

.NoClass {
  color: aliceblue;
  background: url("./placeh4.png"),#4d475e49;
  background-blend-mode: overlay;
  background-size: 100%;
  border: 7px solid #4D475E;
  border-radius: 7px;
  font-weight: 500;
  width: 207px;
}

.bigNoClass {
  color: aliceblue;
  background: url("./placeh5.png"),#4d475e49;
  background-blend-mode: overlay;
  background-size: 100%;
  border: 7px solid #4D475E;
  border-radius: 7px;
  font-weight: 500;
  margin-top: 4%;
  width: 662px;
}

.dcbsearch-large {
  width: 366px;
  height: 37px;
}

.dcbsearch-medium {
  width: 178px;
  height: 37px;
}

.dcbsearch-small {
  width: 115px;
  height: 37px;
}

.builder-input {
  width: 370px;
  height: 37px;
  margin: 5px 5px 0px 5px;
}

.builder-text {
  width: 370px;
  height: 94px;
  margin: 5px 5px 0px 5px;
}

.cover-card {
  width: 338px;
  margin: 2.5% 0px 0px 0%;
  border-radius: 17px;
  overflow: hidden;
}

.builder-card {
  width: 140px;
  margin: 2.25px 0px;
  border-radius: 7px;
  overflow: hidden;
}

.add-comp-button {
  margin: 15px 10px 10px 5px;
  width: 100px;
}

.create-card-text {
  width: 370px;
  height: 148px;
  margin: 5px 5px 0px 5px;
}

.cd-container {
  display: flex;
  /* justify-content: center; */
}

.cd-container-child {
  margin-top: 40px;
}

.cd-inner {
  display: flex;
  justify-content: center;
}

.cd-card {
  width: 480px;
  border-radius: 4%;
  overflow: hidden;
}

.cd-related-card {
  width: 140px;
  border-radius: 4%;
  overflow: hidden;
  margin: 0px 10px 10px 10px;
}

.cd-info {
  display: grid;
  gap: 2% 1%;
  grid-template-columns: repeat(3, 1fr);
  width: 662px;
  justify-items: center;
}

.button100 {
  width: 100px;
  margin-right: 3px;
}

.button225 {
  width: 225px;
  margin-right: 3px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: start;
}

.card-list-card {
  width: 300px;
  margin: 30px 5px 5px 5px;
  border-radius: 4.5%;
  overflow: hidden;
}

.img-modal {
  width: 338px;
  border-radius: 17px;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.modal-card {
  width: 338px;
  border-radius: 17px;
  overflow: hidden;
}

.hidden2 {
  display: none;
}

.logo {
  margin: 2px 4px 4px 5px;
  width: 60px;
  opacity: 90%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* .social {
  display: inline;
} */

.social-icon {
  margin: auto;
  width: 30px;
  margin: 2px 4px 6px 6px;
}
